body,
body* {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
background-repeat: no-repeat;
}

body {
    /* background-image: url("./basis3.jpg");
    background-repeat: no-repeat;
    color: white; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bendras{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    background-color: rgb(158, 92, 92);
    margin-left: calc((100% - 1000px)/2);
    margin-bottom: 40px;
    margin-top: 20px;
    width: 1000px;
}
.nav-basic {
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-left: 20px;
    font-size: 25px;
    background-color: black;
    
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-basic> .nav.link:hover{
    text-decoration: solid;
    
}
.skaiciai{

}
.skaicius1 {

}
.skaicius2{

}
.tekstas{

}
.pirmas{

}
.antras{

}
.fraze{

}
.nuoroda{

}
.social{
    background-color: black;

}
.social-link{

}
.fa.fa-facebook{

}
.fa.fa-linkedin{

}
.copy{

}